# ==============================================================================
# Backup files
# ------------------------------------------------------------------------------
/nppBackup
/*/nppBackup
*.bak
*.ignore
deploy_key
deploy_key.pub


# ==============================================================================
# Composer
# ------------------------------------------------------------------------------
vendor/*
composer.lock
