# ==============================================================================
# Backup files
# ------------------------------------------------------------------------------
/nppBackup
/*/nppBackup
*.bak
*.ignore


# ==============================================================================
# Composer
# ------------------------------------------------------------------------------
vendor/*
composer.lock
