
parameters:
  source:
    - src

  destination: "output/api"

  visibilityLevels:
    - public
    - protected

  annotationGroups:
    - todo
    - deprecated

  title: "PHP: Nelson Martell Library"

  baseUrl: "https://nelson6e65.github.io/php_nml/api/"

  overwrite: false

  themeDirectory: "vendor/apigen/apigen/packages/ThemeDefault/src"

  googleAnalytics: UA-58599811-1

  transifexLive: cb51c6bb678c4ac4b348ff35244284ed


source:
  - src

destination: output/api

quiet: true

extensions:
  - php

title: "PHP: Nelson Martell Library"

php: false

internal: yes

deprecated: true

todo: true

googleAnalytics: UA-58599811-1

templateTheme: bootstrap

# templateConfig: /home/nmartell/projects/ThemeBootstrap/src/config.neon

# TODO:
# Transifex Live JavasCript Settings: 'api_key' value.
# See: http://docs.transifex.com/live/api/#setting-up-transifex-live-javascript-code
# transifexLive: cb51c6bb678c4ac4b348ff35244284ed
