<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="auto" addUncoveredFilesFromWhitelist="true">
    <testsuites>
        <testsuite name="PHP: Nelson Martell Library Tests Suite">
            <file>tests/TestCase/Extensions/StringTest.php</file>
            <file>tests/TestCase/TypeTest.php</file>
            <file>tests/TestCase/ObjectTest.php</file>
            <directory>tests/TestCase</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>PHP examples</group>
            <group>Features to be implemented</group>
            <group>Proposals</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <file>vendor/cakephp/utility/Text.php</file>
            <file>config/bootstrap.php</file>
        </whitelist>
    </filter>

    <logging>
        <!-- <log type="coverage-clover" target="output/code-coverage/clover.xml"/> -->
        <!-- <log type="coverage-html" target="output/code-coverage" lowUpperBound="25" highLowerBound="75"/> -->
        <!-- <log type="coverage-php" target="output/code-coverage/serialized.php"/> -->
        <!-- <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/> -->
        <log type="testdox-html" target="output/testdox/index.html"/>
        <log type="testdox-text" target="output/testdox/tests.txt"/>
    </logging>
</phpunit>
