
// Custom styles for API documentation pages
div.phpdoc-api-generated-page
  main
    div.content__default,
    footer.page-edit,
    div.page-nav
      // &:not(.custom)
        // Display full with the API pages
      max-width: 100%
